PORT=5000
# add mongo uri 
MONGO_URI=

# Google OAuth for Postmaster Tools
#add client id 
GOOGLE_CLIENT_ID=
# add client secret
GOOGLE_CLIENT_SECRET=
#add redirect url
GOOGLE_REDIRECT_URI=
#fontend url
FRONTEND_URL=
